<!-- BİR BLOGA YAPILAN YORUMLARI GÖRÜNTÜLEME -->
<!-- SOLID prensipleri gereği her partial'da bir işlem gerçekleştirmek için burada yorum yap kısmını ayrı bir partial olarak tekrardan tanımladık. -->
<!-- Partial içinde partial çağırarak aşağıda leaveComment partial'ını çağırdık, normalde onun yerinde yorum bırakma bölümünün kodları vardı! Şimdi ise leaveComment partial'ının içerisinde bu kodlar bulunuyor.' -->
@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="pt-5">
    <h3 class="mb-5">Yorumlar</h3>
    <ul class="comment-list">
        @foreach (var item in Model)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="~/miniblog/images/person_3.jpg" alt="Image placeholder"><!-- Yorum yapanların ikonlarını düzenleme -->
                </div>
                <div class="comment-body">
                    <h3>@item.userName</h3>
                    <div class="meta">@(((DateTime)item.commentDate).ToString("dd-MMM-yyyy"))</div>
                    <p>@item.text</p>
                </div>
            </li>
        }
    </ul>
    @Html.Action("leaveComment", "Comment")
</div>

