@model IEnumerable<EntityLayer.Concrete.Category>
<!-- Bu tanımlama ile Category sınıfının attribute'larının 
     veri tabanındaki karşılığı olan sütunlara ve o sütunlardaki değerlere 
     erişim sağlayabiliyoruz.
-->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryIndex</title>
</head>
<body>
    <div> 
        <h2>Burası kategori indeks sayfasıdır.</h2>
        <br />
        <table>
            <tr>
                <th>ID</th>
                <th>Kategori Adı</th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
